@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');
{
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Outfit', sans-serif;
   min-height: 100vh;
   display: flex;
   align-items: center; 
   font-size: 15px;
}

.layout{
   max-width: 360px;
   margin: 0 auto;
}

.box{
   background-color: hsl(0, 0%, 100%);
   padding: 18px;
   border-radius: 15px;
   margin: 0 1em;
}
.box img{
   width: 100%;
   border-radius: 10px;
}

.text{
   padding: 11px 7px;
}

.text h2{
   color: hsl(218, 44%, 22%);
   padding-bottom: 15px;   
}

.text p{
   color: hsl(220, 15%, 55%); 
}

.attribution { 
   font-size: 11px; 
   text-align: center; 
}

.attribution a { 
   color: hsl(228, 45%, 44%); 
}